<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<form id="loginForm">
    <table>
      <tr>
        <td>Nickname:</td>
        <td><input type="text" id="loginNickname" name="nickname" placeholder="User" required></td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td><input type="password" id="loginPassword" name="password" placeholder="Senha" required></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Login</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Not yet a Member? <a href="register.html">Registre-se</a></p>
        </td>
      </tr>
    </table>
  </form>  
    <script src="https://npmcdn.com/parse/dist/parse.min.js"></script>
    <script src="../config/back4app_config.js"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>